PORT=5000
MONGODB_URI=mongodb+srv://cloudshield:<password>@cluster0.xxxxx.mongodb.net/cloudshield_monitor
JWT_SECRET=your-monitoring-dashboard-secret
AI_SERVICE_URL=http://localhost:8000
PORTAL_DB_URI=mongodb+srv://cloudshield:<password>@cluster0.xxxxx.mongodb.net/cloudshield_portal
SSH_HOST=your-ec2-ip
SSH_USERNAME=ubuntu
SSH_PRIVATE_KEY_PATH=./keys/cloudshield-key.pem
