PORT=3000
MONGODB_URI=mongodb+srv://cloudshield:UJYdrUs9mgOkKs@cloudshieldcluster.mjjbyzh.mongodb.net/?appName=CloudShieldCluster
JWT_SECRET=your-super-secret-jwt-key-change-this
MONITORING_URL=http://localhost:5000
